%h1 Edit Reply

= stylesheet_link_tag "posts"

= form_for [@post, @reply], remote: true do |f|
  = f.label :message, 'Reply:'
  = f.text_area :message
  = f.submit "Reply", class:"button purple default small"