%body.centered
  = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
    = devise_error_messages!
    .row
      .col-md-12
        %h2 Edit Profile
        %br/
    .row
      .col-md-2
      .col-md-4
        .edit-col
          .field.padded
            %label Name:
            %br/
            = f.text_field :name, size: "30", autofocus: true, style: "text-align:center"
          .field.padded
            %label Username:
            %br/
            = f.text_field :username, size: "24", style: "text-align:center"
          .field.padded
            %label Email:
            %br/
            = f.email_field :email, size: "32", style: "text-align:center"
          - if devise_mapping.confirmable? && resource.pending_reconfirmation?
            %div
              Currently awaiting confirmation for: #{resource.unconfirmed_email}
          .field
            %label Phone:
            %br/
            = f.text_field :phone, :id => "phone", placeholder: "(___) ___-____", size: "16", style: "text-align:center"
          .padded
            = check_box_tag "textable", nil, true
            = label_tag :phone, "This phone is capable<br/>of receiving texts.".html_safe, for: "textable", class: "inline", style: "font-size:16px"
          .field.padded
            %label New password:
            %br/
            %i{style:"font-size:0.8em"} Leave blank if you don't want to change it.
            %br/
            = f.password_field :password, size: "24", autocomplete: "off", placeholder: " (6 characters minimum)", style: "text-align:center"
          .field
            %label Confirm new password:
            %br/
            = f.password_field :password_confirmation, size: "24", autocomplete: "off", style: "text-align:center"
      .col-md-4
        .edit-col
          .field.padded
            %label Profile picture:
            %br/
            - if @user.avatar_file_name
              %img{src: "/system/users/avatars/000/000/" + @user[:id].to_s.rjust(3, "0") + "/medium/" + @user.avatar_file_name} 
            - else
              %img{src: "/assets/blank-avatar.png"}
            = f.file_field :avatar, style:"text-align:center;margin-left:20%"
            %br/
          .field.padded
            %label About me:
            %br/
            = f.text_area :bio, size: "30", style: "text-align:center"
      .col-md-2
    .row
      .col-md-12
        %hr{style:"width:40%;margin:30px 30% 20px 30%"}
        .field.padded
          %label Current password (to confirm your changes):
          %br/
          = f.password_field :current_password, size: "24", autocomplete: "off", style: "text-align:center"
        %br/
        .actions
          = f.submit "Update", class: "purple default", style: "font-size:1.3em;padding:10px 20px"
        %br/
  = button_to "Delete my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "red default", style: "font-size:0.9em;padding:8px 16px"
  %br/
  %br/

  / Include jQuery and MaskedInput (for formatting phone numbers)
  %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"}
  %script{:src => "/assets/jquery.maskedinput.js", :type => "text/javascript"}
  / Maskedinput script
  :javascript
    jQuery(function($){
        $("#phone").mask("(999) 999-9999");
    });