%body
  .row.center
    .col-md-12
      %h2 Sign up
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = devise_error_messages!
    .row
      .col-md-5.form-group
        .row
          .col-md-1
          .col-md-4.left-col
            .field.padded{:style => "margin-top:20px;margin-bottom:24px"}
              %label Full name:
          .col-md-7.right-col
            .padded{:style => "margin-top:20px;margin-bottom:24px"}
              = f.text_field :name, size: "35", autofocus: true
        .row
          .col-md-1
          .col-md-4.left-col
            .field.padded{:style => "margin-bottom:24px"}
              %label Date of birth:
          .col-md-7.right-col
            .padded
              = f.date_select :dob, :start_year => 1900, :end_year => Date.current.year, :use_month_numbers => true, :order => [:year, :month, :day]
        .row
          .col-md-1
          .col-md-4.left-col
            .field.padded
              %label Phone:
          .col-md-7.right-col
            = f.text_field :home_phone, :id => "home_phone", placeholder: "(___) ___-____", size: "16"
            .padded
              = check_box_tag "textable", nil, true
              = label_tag :home_phone, "This phone is capable of receiving texts.", for: "textable", class: "inline", style: "font-size:16px"
        .row
          .col-md-1
          .col-md-4.left-col
            .field.padded
              %label Email:
          .col-md-7.right-col
            .padded
              = f.email_field :home_email, size: "37"
        .row
          .col-md-12.center{style: "margin-left: 15%"}
            %label Preferred contact method:
            %br/
            %label{style:"font-size:16px"} Email
            = radio_button_tag "contact_method", "email"
            %label{style:"font-size:16px"} &ensp;Phone (call)
            = radio_button_tag "contact_method", "phonecall"
            %label{style:"font-size:16px"} &ensp;Phone (text)
            = radio_button_tag "contact_method", "phonetext"
            %label{style:"font-size:16px"} &ensp;Any
            = radio_button_tag "contact_method", "any", true
      .col-md-7.form-group
        .row
          .col-md-4.left-col
            .padded_above.padded
              %label Gender:
          .col-md-8.right-col
            .padded_above.padded
              %label{style:"font-size:16px"} Male
              = radio_button_tag "gender", "male_gender"
              %label{style:"font-size:16px"} &ensp;Female
              = radio_button_tag "gender", "female_gender"
              %label{style:"font-size:16px"} &ensp;Other
              = radio_button_tag "gender", "other_gender"
              %br/
              %label{style:"font-size:16px"} &ensp;Prefer not to disclose
              = radio_button_tag "gender", "pntd_gender", true
        .row
          .col-md-4.left-col
            .padded
              %label Street address:
          .col-md-8.right-col
            .field.padded
              = f.text_field :street_address, size: "40"
        .row
          .col-md-4.left-col
            .padded
              %label City:
          .col-md-8.right-col
            .field.padded
              = f.text_field :city, size: 25
        .row
          .col-md-4.left-col
            .padded
              %label State:
          .col-md-8.right-col
            .field.padded
              = f.text_field :state, id: "state", size: 4
        .row
          .col-md-4.left-col
            .padded
              %label Zipcode:
          .col-md-8.right-col
            .field.padded
              = f.text_field :state, id: "zipcode", size: 7
        .row
          .col-md-4.left-col
            %label Organization:
          .col-md-8.right-col
            .field
              = f.text_field :organization, placeholder: "(optional)", size: 30
    .row.center
      .col-md-12.form-group
        %fieldset.padded
          %legend Interests
          %table
            %tr
              %td{:rowspan => "2"}
              %td
                = check_box_tag "dogs", "dogs", false, onclick: "toggleCheckboxes('dog_interests[]')"
                %label.inline{:for => "dogs"} Dogs
              %td{:style => "width:30%"}
                - @dogs.each do |interest|
                  = check_box_tag "dog_interests[]", interest, false, id: "dog_" + interest, disabled: true
                  = label_tag :interests, "#{interest}", for: "dog_#{interest}", class: "inline faded", name: "dog_interests[]"
                  %br/
              %td{:rowspan => "2"}
                - @other.each do |interest|
                  = check_box_tag "interests[]", interest, false, id: interest
                  = label_tag :interests, "#{interest}", for: interest, class: "inline"
                  %br/
                = check_box_tag "other", "other", false, name: "other"
                = text_field_tag "other_interests", nil, class: "inline", placeholder: "Other...", size: "18", style: "height:25px; font-size:17px", onclick: "toggleOther('other')"
            %tr
              %td
                /%input#cats{:onclick => "toggleCheckboxes('cat_interests[]')", :type => "checkbox"}/
                = check_box_tag "cats", "cats", false, onclick: "toggleCheckboxes('cat_interests[]')"
                %label.inline{:for => "cats"} Cats
              %td{:style => "width:30%"}
                - @cats.each do |interest|
                  = check_box_tag "cat_interests[]", interest, false, id: "cat_" + interest, disabled: true
                  = label_tag :interests, "#{interest}", for: "cat_#{interest}", class: "inline faded", name: "cat_interests[]"
                  %br/
    .row.center
      .col-md-12
        .field.padded.center-col{style: "margin-top:10px"}
          %label Password:
          = f.password_field :password, autocomplete: "off", placeholder: " (6 characters minimum)", size: "24"
        .field.padded.center-col
          %label Confirm password:
          = f.password_field :password_confirmation, autocomplete: "off", size: "24"
        .actions{:style => "margin-bottom:20px; text-align:center"}
          %button.large.purple Volunteer
        %br/
  / jQuery, Popper, and Bootstrap scripts
  %script{:crossorigin => "anonymous", :integrity => "sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN", :src => "https://code.jquery.com/jquery-3.2.1.slim.min.js"}
  %script{:crossorigin => "anonymous", :integrity => "sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh", :src => "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"}
  %script{:crossorigin => "anonymous", :integrity => "sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ", :src => "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"}
  / Include MaskedInput (for formatting phone numbers)
  %script{:src => "/assets/jquery.maskedinput.js", :type => "text/javascript"}
  / HTML Kickstart
  %script{:src => "/assets/kickstart.js"}
  / Maskedinput script
  :javascript
    jQuery(function($){
        $("#home_phone").mask("(999) 999-9999");
    });
  / Maskedinput for state
  :javascript
    jQuery(function($){
        $("#state").mask("aa", {placeholder: " "});
    });
  / Maskedinput for zipcode
  :javascript
    jQuery(function($){
        $("#zipcode").mask("99999", {placeholder: " "});
    });
  / toggleCheckboxes function to toggle dog/cat sections
  :javascript
    function toggleCheckboxes(name) {
        var elems = document.getElementsByName(name);
        for(i=0; i<elems.length; i++) {
            elems[i].disabled = !elems[i].disabled;
            if (elems[i].className == "inline faded") {
              elems[i].setAttribute("class", "inline")
            }
            else {
              elems[i].setAttribute("class", "inline faded")
            }
        }
    }
  / toggleOther function to check 'other' checkbox when 'other' field is clicked
  :javascript
    function toggleOther(name) {
      var elems = document.getElementsByName(name);
      for (i=0; i<elems.length; i++) {
          elems[i].checked = "true";
        }
    }