%h1 Edit Existing Post

= form_tag post_path(@mpost), :method => :put do

  = label :post, :title, 'Title'
  = text_field :post, 'title'

  = label :post, :type, 'Type'
  = select :post, :type, ['Shift','Ride','Other']

  = label :post, :date, 'Date'
  = date_select :post, :date

  = submit_tag 'Update Post Info'
