= form_for @interest do |f|
  - if @interest.errors.any?
    #error_explanation
      %h2= "#{pluralize(@interest.errors.count, "error")} prohibited this interest from being saved:"
      %ul
        - @interest.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :user
    = f.text_field :user
  .actions
    = f.submit 'Save'
