%body
  %h1.centered.padded Volunteers
  %table#posts{style:"margin-bottom:1em; table-layout: fixed; width: 100%"}
    %thead
      %tr
        %th{:class => "#{('hilite' if session[:sort_users] == 'name')}"}
          = link_to "Name", users_path(:sort_users => 'name'), id: "name_header"
        %th{:class => "#{('hilite' if session[:sort_users] == 'created_at')}"}
          = link_to "Date Joined", users_path(:sort_users => 'created_at'), id: "joined_header"
    %tbody
      / Reverse_Each so that most recent user appears at the top
      - @users.each do |user|
        %tr
          %td
            = link_to user.name, user_path(user), class:"link"
          %td
            = user.created_at.in_time_zone('Central Time (US & Canada)').strftime("%b %e, %Y")
            
    %br/
    %br/
    
    / Import CSV button added to the home page 
    = form_tag shifts_import_path, multipart: true do
      = file_field_tag "file"
      = submit_tag "Import CSV"