<!DOCTYPE html>
<html>
<body>
<style>
h1{
    border-bottom: 7px solid #41009A;
    
}
body{
    background-image:<%= wicked_pdf_image_tag 'CatDogBanner.PNG' %> ;
}
profile{
    position:absolute;
    TOP:700px; 
    LEFT:400px;
    border: 7px solid #41009A ;
    border-radius: 25px;
    width: 280px;
    height: 280px; 
    background-color:#B3B3B3
}

name {
    font-size: 30px;
    color:#41009A ;
    position: absolute; 
    TOP:620px; 
    LEFT:400px;
    width: 280px;
    height: 30px;
}

shifts {
    position: absolute; 
    TOP:500px; 
    RIGHT:400px;
    width: 280px;
    height: 480px;
    border: 7px solid #41009A ;
    border-radius: 25px;
}
monthly-hours {
    position: absolute; 
    TOP:115px; 
    RIGHT:400px;
    width: 280px;
    height: 180px;
    background-color:#B3B3B3
    
}

weekly-hours {
    position: absolute; 
    TOP:310px; 
    RIGHT:400px;
    width: 280px;
    height: 180px;
    background-color:#B3B3B3
    
}

graph-description{
    position: absolute; 
    TOP:115px; 
    LEFT:400px;
    width: 280px;
    height: 180px;
    border: 7px solid #41009A ;
    border-radius: 25px;
    
}

</style>


<title> Volunteer Report for <%= @user.name %>  
</title>

<div align="left"> <%= @user.name %> </div>




<h1><font size="30" color= "#B3B3B3"> 
    Volunteer Report </font> 
    <IMG STYLE="position:absolute; TOP:0px; RIGHT:0px; HEIGHT:100; WIDTH:230;" <%= wicked_pdf_image_tag 'palslogo3.jpg'%>  
</h1>

<IMG STYLE="position:absolute; TOP:320px; LEFT:400px; HEIGHT:280px; WIDTH:280px; border-radius: 50%;"
<%= wicked_pdf_image_tag 'blank-avatar.png' %>



<name align= "center"> 
    <%= @user.name %> </font>
</name>

<profile align= "center">
    <br />
    <br />
    Date of birth:<%= @user.dob %> <br /> 
    Email: <%= @user.email%><br /> 
    Organization: <br /> 
    Phone Number:<%= @user.phone%>  <br /> 
    Shifts Worked: <br /> 
    Hours Worked: <br /> 
</profile>
<weekly-hours align = "center">
    Graph of Hours worked daily
</weekly-hours>

<monthly-hours align = "center">
    Graph of Hours worked weekly
</monthly-hours>

<graph-description>
    Stats on Weekly Graph:<br /> 
    Stats on Daily Graph:
</graph-description>

<shifts>
    Shifts column; 
</shifts>

</body>
</html>