<head>
  <link rel="stylesheet" href="/assets/kickstart.css" media="all" /> <!-- KICKSTART -->
  <%= stylesheet_link_tag "users" %>
</head>

<body>
    <h2><%= @user.name %>'s Profile</h2>

        <p>
            <%= @user.name %>
        </p><p>
            <%= @user.email %>
        </p>
    
    <div style="display:inline-block">
      <%= link_to 'Edit', edit_user_registration_path(@user) %>
    </div>
    <div style="display:inline-block">
      <%= link_to 'Back to post list', posts_path %>
    </div>
    <div style="display:inline-block">
      <%= button_to 'Delete', @user, :method => :delete, data: {:confirm => 'Are you sure?'} %>
    </div>
</body>