%body
  .row
    .col-md-12
      %h2{:style => "text-align:center"} #{@user.name}'s Profile
  .row
    .col-md-2
    .col-md-3
      .centered
        %br/
        - if @user.avatar_file_name
          %img{src: "/system/users/avatars/000/000/" + params[:id].rjust(3, "0") + "/medium/" + @user.avatar_file_name, alt: "Image not found"} 
        - else
          %img{src: "/assets/blank-avatar.png", alt: "Image not found"}
        %br/
        %br/
        %b About #{@user.name}:
        %br/
        = @user.bio
    .col-md-5
      %div{:style => "margin-left:20px"}
        %h5 Personal Information
        %div{style: "font-size:17px"}
          %b Birthdate:
          = @user.dob.strftime("%B %e, %Y")
          %br/
          %b Interests:
          = @user.interests.map(&:name).join(", ")
        %hr.line/
        %h5 Contact Information
        %div{style: "font-size:17px"}
          %b Phone:
          = @user.home_phone
          %br/
          %b Email:
          = @user.email
    .col-md-2
  .row
    .col-md-12
      %br/
      -if current_user != @user
        %br/
      -else
        %div{:style => "text-align:center"}
          = button_to 'Edit profile', edit_user_registration_path, method: :get, class: "purple default", style: "font-size:1.3em;padding:10px 20px"
        %br/