%body
  %br/
  .centered
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .field.padded
        = f.label :email, class:"link inline"
        %br/
        = f.email_field :email, autofocus: true
      .field.padded
        = f.label :password, class: "link inline"
        %br/
        = f.password_field :password, autocomplete: "off"
      .actions
        = f.submit "Log in", class: "purple"
      - if devise_mapping.rememberable?
        .field
          = f.check_box :remember_me
          = f.label :remember_me, class: "link checkbox inline"
      %br/
      - if devise_mapping.recoverable?
        = link_to 'Forgot your password?', new_password_path(resource_name)
      %br/
      %br/
