<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :name, "Full Name:" %>
    <%= f.text_field :name, autofocus: true %>
  </div>
  
  <div class="field">
    <%= f.label :phone, "Phone" %>
    <%= f.text_field :phone %>
  </div>

  <div class="field">
    <%= f.label :email, "Email (this will be your username):" %>
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= f.label :password, "Password:" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br/>
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "Confirm password:" %>
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :birthdate, "Date of birth:" %>
    <%= date_select :user, :born_on, :start_year => 1900, :end_year => 2017, :use_month_numbers => true, :order => [:month, :day, :year] %>
  </div>
  
  <label><b>Interests</b></label>
  
  <label>
    <%= f.check_box :interests %> Dogs
  </label>
  
  <div class="field">
    <%= f.label :interests do %>
    <%= f.check_box :interests %> <%= t 'Cats' %>
    <% end %>
  </div>
  
  <br/>
  
  <div class="actions">
    <%= f.submit "Volunteer" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
