%h1 Edit Existing Post

= form_tag post_path(@post), :method => :put do

  = label :post, :title, 'Title'
  = text_field :post, 'title'
  
  = label :post, :description, 'Description'
  = text_field :post, 'description'

  = label :post, :thread_type, 'Type'
  = select :post, :thread_type, ['Shift','Ride','Other']
  
  = label :post, :description, 'Description'
  = text_field :post, 'description'

  = label :post, :date, 'Date'
  = date_select :post, :date

  = submit_tag 'Update Post Info'
