%h1 All Posts

= form_tag posts_path, :method => :get, :id => 'types_form' do
  Include:
  - @all_types.each do |type|
    = type
    = check_box_tag "types[#{type}]", "1", @checked_types.include?(type), :id => "types_#{type}"
  = submit_tag 'Refresh', :id => 'types_submit'

%table#posts
  %thead
    %tr
      %th{:class => ('hilite' if session[:sort_by] == 'title')}= link_to "Post Title", posts_path(:sort_by => 'title'), id: "title_header" 
      %th Type
      %th{:class => ('hilite' if session[:sort_by] == 'date')}= link_to "Date", posts_path(:sort_by => 'date'), id: "date_header"
      %th More Info
  %tbody
    - @posts.each do |post|
      %tr
        %td= post.date
        %td= post.title 
        %td= post.type
        %td= link_to "More about #{post.title}", post_path(post)

= link_to 'Add new post', new_post_path