<h1>All Posts</h1>
<%= stylesheet_link_tag "posts" %>
<%= form_tag posts_path, :method => :get, :id => 'types_form' do %>
  Include:
  <% @all_types.each do |type| %>
    <%= type %>
    <%= check_box_tag "types[#{type}]", "1", @checked_types.include?(type), :id => "types_#{type}" %>
  <% end %>
  <button class="update-button purple default" id="types_submit">Update</button>
  <!-- = submit_tag 'Refresh', :id => 'types_submit'-->
<% end %>
<table id="posts">
  <thead>
    <tr>
      <th class="<%= ('hilite' if session[:sort_by] == 'title') %>">
        <%= link_to "Post Title", posts_path(:sort_by => 'title'), id: "title_header"  %>
      </th>
      <th>Type</th>
      <th class="<%= ('hilite' if session[:sort_by] == 'date') %>">
        <%= link_to "Date", posts_path(:sort_by => 'date'), id: "date_header" %>
      </th>
      <th>More Info</th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td>
          <%= post.title %>
        </td>
        <td>
          <%= post.thread_type  %>
        </td>
        <td>
          <%= post.date %>
        </td>
        <td>
          <%= link_to "More about #{post.title}", post_path(post) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Add new post', new_post_path %>
