%body
  %h1.centered.padded Posts
  = form_tag posts_path, :method => :get, :id => 'types_form' do
    %b{style:"margin-right:1em"} Include:
    - @all_types.each do |type|
      %div{style:"display:inline;margin-right:0.5em"}
        = type
        = check_box_tag "types[#{type}]", "1", @checked_types.include?(type), :id => "types_#{type}"
    = button_to 'Update', posts_path, class: "purple default update-button"
  %table#posts{style:"margin-bottom:1em; table-layout: fixed; width: 100%"}
    %thead
      %tr
        %th{:class => "title #{('hilite' if session[:sort_by] == 'title')}"}
          = link_to "Title", posts_path(:sort_by => 'title'), id: "title_header"
        %th{:class => "type #{('hilite' if session[:sort_by] == 'thread_type')}"}
          = link_to "Type", posts_path(:sort_by => 'thread_type'), id: "thread_type_header"
        %th{:class => "rest #{('hilite' if session[:sort_by] == 'date')}"}
          = link_to "Event Date", posts_path(:sort_by => 'date'), id: "date_header"
        %th{:class => "rest #{('hilite' if session[:sort_by] == 'created_at')}"}
          = link_to "Posted", posts_path(:sort_by => 'created_at'), id: "post_date_header"
        - if user_signed_in? || admin_user_signed_in?
          %th{:class => "rest #{('hilite' if session[:sort_by] == 'username')}"}
            = link_to "User", posts_path(:sort_by => 'username'), id: "username_header"
    %tbody
      / Reverse_Each so that most recent post appears at the top
      - @posts.reverse_each do |post|
        %tr
          %td{:class => "title"}
            = link_to post.title, post_path(post), class:"link"
          %td{:class => "type"}
            %i
              = post.thread_type
          %td{:class => "rest"}
            = post.date.strftime("%b %e, %Y | %l:%M %p")
          %td{:class => "rest"}
            = post.created_at.strftime("%b %e, %Y | %l:%M %p")
          - if user_signed_in? || admin_user_signed_in?
            %td{:class => "rest"}
              - if User.exists?(post.user_id)
                = link_to User.find(post.user_id).username, user_path(User.find(post.user_id))
              - else
                = post.username
  = link_to 'Add new post', new_post_path, class:"link"
  %br/
  %br/
