%body
  %h1 Create New Post
  = form_tag posts_path do
  
    = label :post, :title, 'Title:'
    %br/
    = text_field :post, 'title'
    %br/
    %br/
    = label :post, :description, 'Content:'
    %br/
    = text_area :post, 'description'
    %br/
    %br/
    = label :post, :thread_type, 'Type:'
    %br/
    = select :post, :thread_type, ['Shift', 'Ride', 'Other']
    %br/
    %br/
    = label :post, :date, 'Date of event:'
    %br/
    = date_select :post, :date
    
    %br
    %br
    
    %button#types_submit.update-button.purple.default Submit
