%h1 Create New Post

= stylesheet_link_tag "posts"
= form_tag posts_path do

  = label :post, :title, 'Title:'
  = text_field :post, 'title'

  = label :post, :description, 'Content:'
  = text_area :post, 'description'
  
  = label :post, :thread_type, 'Type:'
  = select :post, :thread_type, ['Shift', 'Ride', 'Other']

  = label :post, :date, 'Date of shift/ride:'
  = date_select :post, :date
  
  %br
  %br
  
  %button#types_submit.update-button.purple.default Submit

/= submit_tag 'Save Changes'
