%h1 Create New Post

= form_tag posts_path do

  = label :post, :title, 'Title'
  = text_field :post, 'title'

  = label :post, :type, 'Type'
  = select :post, :type, ['Shift', 'Ride', 'Other']

  = label :post, :date, 'Date'
  = date_select :post, :date

  = submit_tag 'Save Changes'
