%h1 Details about: #{@post.title}

= stylesheet_link_tag "posts"
%ul#details
  %ls
    Posted by:
    = User.find(@post.user_id).name
  %li
    Type:
    = @post.thread_type
  %li
    Date:
    = @post.date.strftime("%B %d, %Y")
  %li
    Description:
    %p#description= @post.description
    
    
%div{style:"display:inline-block"}= link_to 'Edit', edit_post_path(@post)
%div{style:"display:inline-block"}= link_to 'Back to post list', posts_path
%div{style:"display:inline-block"}= button_to 'Delete', post_path(@post), :method => :delete, :confirm => 'Are you sure?', class:"button purple default small"

= form_for [@post, Reply.new] do |f|
  = f.hidden_field :user_id, value: User.last.id #current_user.id
  = f.label :message, 'Reply:'
  = f.text_area :message
  = f.submit "Reply", class:"button purple default small"
  

%h1 Replies

%table
  %thead
    %tr
      %th Message
      %th Posted By
      %th Created At
      %th
      %th
  %tbody#replies
    - @post.replies.each do |reply|
      %tr
        %td= reply.message
        %td= reply.user.name
        %td= reply.created_at
        %td= link_to "Edit", edit_post_reply_path(@post, reply)
        %td= link_to "Destroy", post_reply_path(@post, reply), method: :delete
        