%body
  %h1 #{@post.title}
  
  %ul#details
    %li
      %b Posted by:
      - if User.exists?(@post.user_id) 
        = link_to User.find(@post.user_id).username, user_path(User.find(@post.user_id))
      - else
        = @post.username
    %li
      %b Type:
      = @post.thread_type
    %li
      %b Event date:
      = @post.date.strftime("%B %e, %Y")
    %li
      %b Description:
      %p#description= @post.description
      
      
  %div{style:"display:inline-block; padding-top:0.25em; padding-right:0.5em; padding-bottom:1.5em"}
    = link_to 'Edit', edit_post_path(@post), {class:"link", style:"padding-right:10px"}
    = link_to 'Back to post list', posts_path, {class:"link", style:"padding-right:10px"}
    = link_to 'Delete', post_path(@post), {:method => :delete, :confirm => 'Are you sure?', class:"link", style:"padding-right:10px"}
  
  %h1{style:"padding-top:20px"}Replies
  
  %table
    %thead
      %tr
        %th{width:"60%"} Message
        %th{width:"10%"} Posted By
        %th{width:"20%"} Created At
        %th{width:"5%"}
        %th{width:"5%"}
    %tbody#replies
      - @post.replies.each do |reply|
        %tr
          %td{width:"60%"}= reply.message
          %td{width:"10%"}
            - if User.exists?(reply.user_id) 
              = link_to User.find(reply.user_id).username, user_path(User.find(reply.user_id))
            - else
              = reply.username
          %td{width:"20%"}= reply.created_at.in_time_zone('Central Time (US & Canada)').strftime("%B %e, %Y | %l:%M %p")
          %td{width:"5%"}= link_to "Edit", edit_post_reply_path(@post, reply), class:"link"
          %td{width:"5%"}= link_to "Delete", post_reply_path(@post, reply), method: :delete, class:"link"
          
  = form_for [@post, Reply.new] do |f|
    .centered
      = f.hidden_field :user_id, value: User.last.id #current_user.id
      = f.text_area :message, class: "padded", style:"width:60%"
      %br/
      = f.submit "Reply", class:"button purple default"
  %br/