%h1 Details about: #{@post.title}

= stylesheet_link_tag "posts"
%ul#details
  %li
    %b Posted by:
    = link_to User.find(@post.user_id).name, user_path(User.find(@post.user_id))
  %li
    %b Type:
    = @post.thread_type
  %li
    %b Date:
    = @post.date.strftime("%B %d, %Y")
  %li
    %b Description:
    %p#description= @post.description
    
    
%div{style:"display:inline-block; padding-top:0.25em; padding-right:0.5em; padding-bottom:1.5em"}
  = link_to 'Edit', edit_post_path(@post), {class:"link", style:"padding-right:10px"}
  = link_to 'Back to post list', posts_path, {class:"link", style:"padding-right:10px"}
  = link_to 'Delete', post_path(@post), {:method => :delete, :confirm => 'Are you sure?', class:"link", style:"padding-right:10px"}

= form_for [@post, Reply.new] do |f|
  = f.hidden_field :user_id, value: current_user
  = f.label :message, 'Write a reply:', style:"padding-bottom:0.5em"
  = f.text_area :message
  = f.submit "Reply", class:"button purple default small"

%h1{style:"padding-top:30px"}Replies

%table
  %thead
    %tr
      %th Message
      %th Posted By
      %th Created At
      %th
      %th
  %tbody#replies
    - @post.replies.each do |reply|
      %tr
        %td= reply.message
        %td= reply.user.name
        %td= reply.created_at
        %td= link_to "Edit", edit_post_reply_path(@post, reply), class:"link"
        %td= link_to "Destroy", post_reply_path(@post, reply), method: :delete, class:"link"
        