%h2 Details about #{@post.title}

%ul#details
  %li
    Type:
    = @post.rating
  %li
    Date:
    = @post.date.strftime("%B %d, %Y")

%h3 Description:

%p#description= @post.description

= link_to 'Edit', edit_post_path(@post)
= button_to 'Delete', post_path(@post), :method => :delete, :confirm => 'Are you sure?'
= link_to 'Back to post list', posts_path
