!!!
%html
  %head
    %meta{name: "viewport", content: "width=device-width, initial-scale=1, shrink-to-fit=no", "http-equiv" => "Content-Type"}/
    %title Welcome to PALS Community Board!
    = stylesheet_link_tag 'application', 'media' => 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    %div.container.title
      %div.row.title
        %div.col-md-7
          %nav.navbar.navbar-expand-md.navbar-light
            %span.h1.title Welcome to PALS Community Board!
        %div.col-md-5
          %nav.navbar.navbar-expand-md.navbar-light
            #navbarSupportedContent.collapse.navbar-collapse{style:"display:inline-block;float:right"}
              %ul.navbar-nav.mr-auto
                %div{style:"display:inline-block"}
                  %li.nav-item{style:"display:inline-block"}
                    = button_to 'Posts', root_path, {method: :get, class: "purple default"}
                    /%a.button.purple.medium.default{href: posts_path} Community Board
                  - if current_user
                    %li.nav-item{style:"display:inline-block"}
                      = button_to 'Log Out', destroy_user_session_path, {method: :delete, class:"purple default"}
                    %li.nav-item{style:"display:inline-block"}
                      = button_to 'My Profile', user_path(current_user), {method: :get, class: "purple default"}
                      //%a.button.purple.medium.default{href: user_path(current_user), method: :get} Profile
                  - else
                    %li.nav-item{style:"display:inline-block"}
                      =button_to 'Log in', user_session_path, {method: :get, class: "purple default"}
                    %li.nav-item{style:"display:inline-block"}
                      =button_to 'Sign up', new_user_registration_path, {method: :get, class: "purple default"}
                      //%a.title.nav-link{href: new_user_registration_path, method: :get} Sign up
                  
    #main.full
      %head
        / Include Bootstrap and HTML Kickstart (for style)
        %link{:crossorigin => "anonymous", :href => "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css", :integrity => "sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb", :rel => "stylesheet"}/
        %link{:href => "/assets/kickstart.css", :media => "all", :rel => "stylesheet"}/
        = stylesheet_link_tag 'application'
      %body{:style => "background-image:url('/assets/gray-pawprints.png')"}
        .container{:style => "background-color:white"}
          .padded_above
            - if flash[:notice]
              %div.alert.alert-success{:role => "alert"}
                #notice.success= flash[:notice]
            - elsif flash[:warning]
              %div.alert.alert-danger{:role => "alert"}
                #warning.message= flash[:warning]

          = yield

