!!!
%html
  %head
    %meta{name: "viewport", content: "width=device-width, initial-scale=1, shrink-to-fit=no", "http-equiv" => "Content-Type"}/
    %title Welcome to PALS Community Board!
    = stylesheet_link_tag 'application', 'media' => 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    %div.container.title
      %div.row.title
        %div.col-md-12
          %nav.navbar.navbar-expand-md.navbar-light
            %span.h1.title{style:"margin-right:50px"} Welcome to PALS Community Board!
            #navbarSupportedContent.collapse.navbar-collapse{style:"display:inline-block"}
              %ul.navbar-nav.mr-auto
                %li.nav-item
                  %div{style:"display:inline-block; margin-right:20px"}
                  - if current_user
                    = button_to 'Log Out', destroy_user_session_path, {method: :delete, class:"button purple default large"}
                  - else
                    %a.button.purple.large.default{href: user_session_path} Log in
                    %li.nav-item
                      %div{style:"display:inline-block"}
                      %a.button.purple.large.default{href: new_user_registration_path, method: :get} Sign up
                      //%a.title.nav-link{href: new_user_registration_path, method: :get} Sign up
    
    #main.full
      - if flash[:notice]
        #notice.success= flash[:notice]
      - elsif flash[:warning]
        #warning.message= flash[:warning]

      = yield

