!!!
%html
  %head
    %meta{name: "viewport", content: "width=device-width, initial-scale=1, shrink-to-fit=no", "http-equiv" => "Content-Type"}/
    %title Welcome to PALS Community Board!
    = stylesheet_link_tag 'application', 'media' => 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    %div.container.title
      %div.row.title
        %div.col-md-12
          %nav.navbar.navbar-expand-md.navbar-light
            %span.h1.title{style:"margin-right:50px;line-height:1.4em"} Welcome to PALS Community Board!
            #navbarSupportedContent.collapse.navbar-collapse{style:"display:inline-block;float:right"}
              %ul.navbar-nav.mr-auto
                %div{style:"display:inline-block"}
                  -if controller_name != 'posts'
                    %li.nav-item{style:"display:inline-block"}
                      = button_to 'Community Board', root_path, {method: :get, class: "purple default"}
                      /%a.button.purple.medium.default{href: posts_path} Community Board
                  - if current_user
                    %li.nav-item{style:"display:inline-block"}
                      = button_to 'Log Out', destroy_user_session_path, {method: :delete, class:"purple default"}
                    %li.nav-item{style:"display:inline-block"}
                      = button_to 'Profile', user_path(current_user), {method: :get, class: "purple default"}
                      //%a.button.purple.medium.default{href: user_path(current_user), method: :get} Profile
                  - else
                    %li.nav-item{style:"display:inline-block"}
                      =button_to 'Log in', user_session_path, {method: :get, class: "purple default"}
                    %li.nav-item{style:"display:inline-block"}
                      =button_to 'Sign up', new_user_registration_path, {method: :get, class: "purple default"}
                      //%a.title.nav-link{href: new_user_registration_path, method: :get} Sign up
                  
    
    #main.full
      - if flash[:notice]
        #notice.success= flash[:notice]
      - elsif flash[:warning]
        #warning.message= flash[:warning]

      = yield

